body {
  background-image: url(https://static.sciencelearn.org.nz/images/images/000/003/176/embed/FIR_ITV_RuralFireRisk_Weather_CloudySky_123RF_901534.jpg?1522314128);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Zilla Slab", serif;
  margin: 30px;
  font-size: 18px;
}

.weather h1 {
  color: rgb(32, 33, 36);
  font-family: "Abril Fatface,cursive";
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 20px 0 0 0;
}
.weather ul {
  margin: 0;
  padding: 0;
}
.weather li {
  list-style: none;
  font-size: 20px;
  margin: 0;
  padding: 0;
  font-weight: 100;
  color: #393e46;
  line-height: 25px;
}
li::first-letter {
  text-transform: capitalize;
}
.weather {
  max-width: 600px;
  margin: 10px auto;
  padding: 40px;
  border: 1px solid #ffdf8d;
  border-radius: 5px;
  background-color: #feddb0;
  border-radius: 1em;
  opacity: 1;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.overview {
  margin-bottom: 25px;
}
.weather-temperature canvas {
  margin-right: 10px;
  width: 64px;
  height: 64px;
  display: inline-block;
  position: relative;
  bottom: -40px;
}
.weather-temperature strong {
  color: rgb(32, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  position: relative;
  bottom: 30px;
  left: 80px;
}

.weather-temperature .units {
  position: relative;
  font-size: 20px;
  top: -60px;
  left: 77px;
}

.weather-temperature .active {
  color: rgb(32, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

footer {
  font-family: "Noto Sans KR', sans-se";
  color: #202124;
  font-size: 15px;
  margin: 10px 0;
}
